/* FOOTER */
@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  background: var(--second-bg-color);
  color: var(--text-color-light);
  // border-top: 1px solid #fff;
}

footer > p {
  margin: 1rem;
}
