/* HEADER */

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;

    &__list {
      margin: 0 1rem;
    }

    &__link {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background: var(--main-blue);
  background: var(--main-black);
  // box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 0 rgba(8, 143, 233, 0.4);
  z-index: 10;

  &__list {
    display: flex;
    margin-right: 2rem;
  }

  &__link {
    display: block;
    padding: 1.2rem;
    color: var(--main-white);
    transition: color 0.3s ease-in-out;

    &:hover {
      // background: var(--main-bg-color);
      color: var(--accent-color);
    }
  }
}
