/* Animation */
.anim-typewriter {
  animation: typewriter 2s steps(40) 0.5s 1 normal both, blinkCursor 300ms steps(40) 6 normal;
}
.anim-typewriter-hero {
  animation: typewriter-hero 1.2s steps(20) 2.5s 1 normal both,
    blinkCursor 400ms steps(20) 2.5s 7 normal;
}

@keyframes typewriter-hero {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: var(--text-color);
  }
}
