:root {
  --title-font: 'Raleway', sans-serif;
  --main-font: 'Fira Mono', monospace;

  --text-color-light: #e8f8bc;
  // --text-color-light: #d8e9a8;
  --text-color-dark: #191a19;
  --main-bg-color: #e8f8bc;
  --second-bg-color: #1e5128;
  --accent-color: #4e9f3d;
}
