:root {
  //   --main-font: 'Open Sans', sans-serif;
  //   --title-font: 'Raleway', sans-serif;
  //   --main-light-color: #fff;
  //   --main-dark-color: #303030;
  //   --text-color: #555555;
  //   --text-color-dark-bg: #9da4bd;
  //   --second-text-color: rgba(157, 164, 189, 0.6);
  //   --accent-color: rgba(255, 108, 0, 1);

  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-font: 'Poppins', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --font: 'Fira Mono', monospace;
  --main-black: #111;
  --main-bg-color: rgba(157, 164, 189, 0.6);
  --accent-color: rgba(255, 108, 0, 1);
}
